#主程式碼

In [61]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)

In [62]:
import math
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import timedelta,datetime,date

In [63]:
ticker="AAPL" #APPLE市場數據

enddate=datetime.strptime('2022/11/15','%Y/%m/%d').date() #截止日期
startdate=(enddate-timedelta(days=365)) #起始日期

data=yf.download(tickers=ticker,start=startdate,end=enddate,interval="1d")#按每一天時間間隔獲取數據

data.columns #顯示導入結果的欄位

[*********************100%***********************]  1 of 1 completed

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [64]:
data_s = data[['Adj Close','Volume']]

data_s #顯示導入結果

             Adj Close     Volume
Date
2021-11-15  149.134460   59222800
2021-11-16  150.128693   59256200
2021-11-17  152.604324   88807000
2021-11-18  156.959030  137827700
2021-11-19  159.623566  117305600
...                ...        ...
2022-11-08  139.500000   89908500
2022-11-09  134.869995   74917800
2022-11-10  146.869995  118854000
2022-11-11  149.699997   93903800
2022-11-14  148.279999   73374100

[252 rows x 2 columns]

In [65]:
dates=[] #建立空字串-儲存日期

for row in data_s.index: 
  dates.append(str(row)[0:10]) #將data_s的index只有年月日的部分存入dates字串裡
data_s['Date']=dates #將dates字串裡的資料存進data_s裡

data_s #顯示導入結果

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

             Adj Close     Volume        Date
Date
2021-11-15  149.134460   59222800  2021-11-15
2021-11-16  150.128693   59256200  2021-11-16
2021-11-17  152.604324   88807000  2021-11-17
2021-11-18  156.959030  137827700  2021-11-18
2021-11-19  159.623566  117305600  2021-11-19
...                ...        ...         ...
2022-11-08  139.500000   89908500  2022-11-08
2022-11-09  134.869995   74917800  2022-11-09
2022-11-10  146.869995  118854000  2022-11-10
2022-11-11  149.699997   93903800  2022-11-11
2022-11-14  148.279999   73374100  2022-11-14

[252 rows x 3 columns]

In [69]:
Close=list(data_s.iloc[:,0])#將Close存在Adj Close中
Volume=list(data_s.iloc[:,1])#將Volumn存在volume中
Date=list(data_s.iloc[:,2])#將Date存在Date中

In [70]:
# V0=np.mean(Volume)#V0取平均值
V0=np.sort(Volume)[math.ceil(len(data_s)*0.05)]#V0取5%以下的最低值

print("V0="+str(V0))#輸出V0的值

V0=59773000

In [71]:
var_k=[]#建立空字串-儲存Sn-Sj
var_date=[]#建立空字串-儲存Sn的日期與Sj的日期
n=len(data_s)-1#資料長度

for i in range(0,n):#所有日期
  s=0#總和歸0
  for j in range(i):#在i日期前的所有日期
    s=s+Volume[j]#總和(Vk+Vk+1+...+Vn)
    if(s<V0):#判斷是否達成條件
      var_k.append(Close[n]-Close[i])#將Sn-Sj存入字串
      var_date.append([Date[n],Date[i]])#將Sn日期和Sj日期存入字串

print(var_k)#顯示所有的Sn-Sj
print(var_date)#顯示所有的Sn日期和Sj日期

[-1.84869384765625, -4.3243255615234375, -8.679031372070312, -11.34356689453125, -11.810867309570312, -12.198638916015625, -12.725570678710938, -7.6251678466796875, -11.035369873046875, -16.066177368164062, -15.539230346679688, -14.535064697265625, -12.626129150390625, -16.086074829101562, -21.9122314453125, -25.78973388671875, -25.272735595703125, -30.134536743164062, -26.445938110351562, -25.0440673828125, -29.985397338867188, -22.985992431640625, -21.872467041015625, -20.490493774414062, -23.7117919921875, -26.34649658203125, -26.982803344726562, -31.00946044921875, -29.975448608398438, -30.064926147460938, -28.891738891601562, -28.265380859375, -32.67973327636719, -30.383087158203125, -25.630661010742188, -22.727508544921875, -22.89654541015625, -22.916412353515625, -25.78973388671875, -26.237136840820312, -22.916412353515625, -23.791351318359375, -20.540206909179688, -16.990798950195312, -15.280731201171875, -13.192840576171875, -12.407394409179688, -10.578018188476562, -10.488540649414062, -10.021255493164062, -21.067138671875, -25.491455078125, -25.322463989257812, -26.54534912109375, -23.622314453125, -23.333633422851562, -22.606918334960938, -25.76263427734375, -27.20611572265625, -23.064834594726562, -19.60052490234375, -19.839431762695312, -23.731826782226562, -23.492919921875, -19.839431762695312, -18.266555786132812, -15.299972534179688, -11.069122314453125, -13.727096557617188, -15.827590942382812, -16.09637451171875, -14.185028076171875, -17.529891967773438, -17.201370239257812, -14.1551513671875, -10.302597045898438, -8.450958251953125, -13.9361572265625, -9.526107788085938, -5.7531585693359375, -1.6616668701171875, -6.1115264892578125, -10.591278076171875, -11.61663818359375, -14.961502075195312, -16.355209350585938, -19.779708862304688, -21.163467407226562, -25.006057739257812, -25.65313720703125, -26.5291748046875, -29.874038696289062, -28.689407348632812, -25.54364013671875, -25.244964599609375, -29.356369018554688, -25.991592407226562, -22.776153564453125, -23.084747314453125, -21.043975830078125, -16.723526000976562, -18.62493896484375, -21.352569580078125, -16.265594482421875, -16.046600341796875, -18.366104125976562, -18.196853637695312, -17.390518188476562, -12.781356811523438, -13.866455078125, -7.8138427734375, -7.5848846435546875, -14.623031616210938, -8.660003662109375, -8.9686279296875, -10.481765747070312, -16.9923095703125, -7.7839813232421875, -8.521713256835938, -3.317596435546875, -5.7601318359375, 2.225494384765625, 6.1535186767578125, 1.617340087890625, 3.1825714111328125, -0.5061798095703125, 7.888214111328125, 11.347671508789062, 11.108413696289062, 5.605194091796875, 8.346832275390625, 8.187301635742188, 4.9372406005859375, -0.9049530029296875, -0.107391357421875, 0.022216796875, -2.470184326171875, 3.3420867919921875, 2.5843963623046875, 0.022216796875, 0.769927978515625, 6.073760986328125, 11.567001342773438, 16.801040649414062, 15.923721313476562, 13.2618408203125, 18.615509033203125, 17.120071411132812, 12.823165893554688, 13.341583251953125, 10.430465698242188, 7.05078125, 7.05078125, 11.2579345703125, 9.473388671875, 11.975753784179688, 9.772491455078125, 7.150482177734375, 5.7946014404296875, 2.375030517578125, 1.6871490478515625, 3.850555419921875, 2.863555908203125, 3.232421875, 0.2614898681640625, -1.433349609375, 1.6572265625, -2.2608184814453125, -4.29461669921875, -6.59759521484375, -5.3414154052734375, -4.20489501953125, -2.8590087890625, -8.033203125, -8.591522216796875, -13.735809326171875, -12.738861083984375, -11.243408203125, -17.344818115234375, -17.025787353515625, -16.796173095703125, -16.31695556640625, -16.366867065429688, -20.679733276367188, -19.93096923828125, -23.534988403320312, -24.623184204101562, -24.46343994140625, -25.980926513671875, -25.581588745117188, -22.955947875976562, -19.012496948242188, -18.673049926757812, -18.972549438476562, -21.468414306640625, -15.069015502929688, -12.832748413085938, -10.366836547851562, -8.67962646484375, -9.418411254882812, -7.2719573974609375, -5.99407958984375, -7.421722412109375, -5.9242095947265625, -8.829376220703125, -14.87933349609375, -5.3052215576171875, -6.7727813720703125, -3.837646484375, -2.1704254150390625, -5.94415283203125, -8.360153198242188, -5.1854248046875, -4.2070465087890625, -1.9008636474609375, -2.2403106689453125, -3.228668212890625, -1.3118438720703125, 6.0359649658203125, 10.308883666992188, 6.06591796875, 2.4219512939453125, 2.122467041015625, 3.090850830078125, 8.422012329101562, 8.092559814453125, 9.530166625976562, 10.169113159179688, 5.52679443359375, 10.129165649414062, 6.1058349609375, 4.76806640625, 4.6582489013671875, 5.127471923828125, 1.2538909912109375, -0.9224853515625, -3.807708740234375, -0.822662353515625, 3.7198028564453125, -7.20208740234375, -4.8060455322265625, -2.1204986572265625, 3.4901885986328125, 9.629989624023438, 9.899993896484375, 9.360000610351562, 8.779998779296875, 13.410003662109375, 1.410003662109375, -1.4199981689453125]
[['2022-11-14', '2021-11-16'], ['2022-11-14', '2021-11-17'], ['2022-11-14', '2021-11-18'], ['2022-11-14', '2021-11-19'], ['2022-11-14', '2021-11-22'], ['2022-11-14', '2021-11-23'], ['2022-11-14', '2021-11-24'], ['2022-11-14', '2021-11-26'], ['2022-11-14', '2021-11-29'], ['2022-11-14', '2021-11-30'], ['2022-11-14', '2021-12-01'], ['2022-11-14', '2021-12-02'], ['2022-11-14', '2021-12-03'], ['2022-11-14', '2021-12-06'], ['2022-11-14', '2021-12-07'], ['2022-11-14', '2021-12-08'], ['2022-11-14', '2021-12-09'], ['2022-11-14', '2021-12-10'], ['2022-11-14', '2021-12-13'], ['2022-11-14', '2021-12-14'], ['2022-11-14', '2021-12-15'], ['2022-11-14', '2021-12-16'], ['2022-11-14', '2021-12-17'], ['2022-11-14', '2021-12-20'], ['2022-11-14', '2021-12-21'], ['2022-11-14', '2021-12-22'], ['2022-11-14', '2021-12-23'], ['2022-11-14', '2021-12-27'], ['2022-11-14', '2021-12-28'], ['2022-11-14', '2021-12-29'], ['2022-11-14', '2021-12-30'], ['2022-11-14', '2021-12-31'], ['2022-11-14', '2022-01-03'], ['2022-11-14', '2022-01-04'], ['2022-11-14', '2022-01-05'], ['2022-11-14', '2022-01-06'], ['2022-11-14', '2022-01-07'], ['2022-11-14', '2022-01-10'], ['2022-11-14', '2022-01-11'], ['2022-11-14', '2022-01-12'], ['2022-11-14', '2022-01-13'], ['2022-11-14', '2022-01-14'], ['2022-11-14', '2022-01-18'], ['2022-11-14', '2022-01-19'], ['2022-11-14', '2022-01-20'], ['2022-11-14', '2022-01-21'], ['2022-11-14', '2022-01-24'], ['2022-11-14', '2022-01-25'], ['2022-11-14', '2022-01-26'], ['2022-11-14', '2022-01-27'], ['2022-11-14', '2022-01-28'], ['2022-11-14', '2022-01-31'], ['2022-11-14', '2022-02-01'], ['2022-11-14', '2022-02-02'], ['2022-11-14', '2022-02-03'], ['2022-11-14', '2022-02-04'], ['2022-11-14', '2022-02-07'], ['2022-11-14', '2022-02-08'], ['2022-11-14', '2022-02-09'], ['2022-11-14', '2022-02-10'], ['2022-11-14', '2022-02-11'], ['2022-11-14', '2022-02-14'], ['2022-11-14', '2022-02-15'], ['2022-11-14', '2022-02-16'], ['2022-11-14', '2022-02-17'], ['2022-11-14', '2022-02-18'], ['2022-11-14', '2022-02-22'], ['2022-11-14', '2022-02-23'], ['2022-11-14', '2022-02-24'], ['2022-11-14', '2022-02-25'], ['2022-11-14', '2022-02-28'], ['2022-11-14', '2022-03-01'], ['2022-11-14', '2022-03-02'], ['2022-11-14', '2022-03-03'], ['2022-11-14', '2022-03-04'], ['2022-11-14', '2022-03-07'], ['2022-11-14', '2022-03-08'], ['2022-11-14', '2022-03-09'], ['2022-11-14', '2022-03-10'], ['2022-11-14', '2022-03-11'], ['2022-11-14', '2022-03-14'], ['2022-11-14', '2022-03-15'], ['2022-11-14', '2022-03-16'], ['2022-11-14', '2022-03-17'], ['2022-11-14', '2022-03-18'], ['2022-11-14', '2022-03-21'], ['2022-11-14', '2022-03-22'], ['2022-11-14', '2022-03-23'], ['2022-11-14', '2022-03-24'], ['2022-11-14', '2022-03-25'], ['2022-11-14', '2022-03-28'], ['2022-11-14', '2022-03-29'], ['2022-11-14', '2022-03-30'], ['2022-11-14', '2022-03-31'], ['2022-11-14', '2022-04-01'], ['2022-11-14', '2022-04-04'], ['2022-11-14', '2022-04-05'], ['2022-11-14', '2022-04-06'], ['2022-11-14', '2022-04-07'], ['2022-11-14', '2022-04-08'], ['2022-11-14', '2022-04-11'], ['2022-11-14', '2022-04-12'], ['2022-11-14', '2022-04-13'], ['2022-11-14', '2022-04-14'], ['2022-11-14', '2022-04-18'], ['2022-11-14', '2022-04-19'], ['2022-11-14', '2022-04-20'], ['2022-11-14', '2022-04-21'], ['2022-11-14', '2022-04-22'], ['2022-11-14', '2022-04-25'], ['2022-11-14', '2022-04-26'], ['2022-11-14', '2022-04-27'], ['2022-11-14', '2022-04-28'], ['2022-11-14', '2022-04-29'], ['2022-11-14', '2022-05-02'], ['2022-11-14', '2022-05-03'], ['2022-11-14', '2022-05-04'], ['2022-11-14', '2022-05-05'], ['2022-11-14', '2022-05-06'], ['2022-11-14', '2022-05-09'], ['2022-11-14', '2022-05-10'], ['2022-11-14', '2022-05-11'], ['2022-11-14', '2022-05-12'], ['2022-11-14', '2022-05-13'], ['2022-11-14', '2022-05-16'], ['2022-11-14', '2022-05-17'], ['2022-11-14', '2022-05-18'], ['2022-11-14', '2022-05-19'], ['2022-11-14', '2022-05-20'], ['2022-11-14', '2022-05-23'], ['2022-11-14', '2022-05-24'], ['2022-11-14', '2022-05-25'], ['2022-11-14', '2022-05-26'], ['2022-11-14', '2022-05-27'], ['2022-11-14', '2022-05-31'], ['2022-11-14', '2022-06-01'], ['2022-11-14', '2022-06-02'], ['2022-11-14', '2022-06-03'], ['2022-11-14', '2022-06-06'], ['2022-11-14', '2022-06-07'], ['2022-11-14', '2022-06-08'], ['2022-11-14', '2022-06-09'], ['2022-11-14', '2022-06-10'], ['2022-11-14', '2022-06-13'], ['2022-11-14', '2022-06-14'], ['2022-11-14', '2022-06-15'], ['2022-11-14', '2022-06-16'], ['2022-11-14', '2022-06-17'], ['2022-11-14', '2022-06-21'], ['2022-11-14', '2022-06-22'], ['2022-11-14', '2022-06-23'], ['2022-11-14', '2022-06-24'], ['2022-11-14', '2022-06-27'], ['2022-11-14', '2022-06-28'], ['2022-11-14', '2022-06-29'], ['2022-11-14', '2022-06-30'], ['2022-11-14', '2022-07-01'], ['2022-11-14', '2022-07-05'], ['2022-11-14', '2022-07-06'], ['2022-11-14', '2022-07-07'], ['2022-11-14', '2022-07-08'], ['2022-11-14', '2022-07-11'], ['2022-11-14', '2022-07-12'], ['2022-11-14', '2022-07-13'], ['2022-11-14', '2022-07-14'], ['2022-11-14', '2022-07-15'], ['2022-11-14', '2022-07-18'], ['2022-11-14', '2022-07-19'], ['2022-11-14', '2022-07-20'], ['2022-11-14', '2022-07-21'], ['2022-11-14', '2022-07-22'], ['2022-11-14', '2022-07-25'], ['2022-11-14', '2022-07-26'], ['2022-11-14', '2022-07-27'], ['2022-11-14', '2022-07-28'], ['2022-11-14', '2022-07-29'], ['2022-11-14', '2022-08-01'], ['2022-11-14', '2022-08-02'], ['2022-11-14', '2022-08-03'], ['2022-11-14', '2022-08-04'], ['2022-11-14', '2022-08-05'], ['2022-11-14', '2022-08-08'], ['2022-11-14', '2022-08-09'], ['2022-11-14', '2022-08-10'], ['2022-11-14', '2022-08-11'], ['2022-11-14', '2022-08-12'], ['2022-11-14', '2022-08-15'], ['2022-11-14', '2022-08-16'], ['2022-11-14', '2022-08-17'], ['2022-11-14', '2022-08-18'], ['2022-11-14', '2022-08-19'], ['2022-11-14', '2022-08-22'], ['2022-11-14', '2022-08-23'], ['2022-11-14', '2022-08-24'], ['2022-11-14', '2022-08-25'], ['2022-11-14', '2022-08-26'], ['2022-11-14', '2022-08-29'], ['2022-11-14', '2022-08-30'], ['2022-11-14', '2022-08-31'], ['2022-11-14', '2022-09-01'], ['2022-11-14', '2022-09-02'], ['2022-11-14', '2022-09-06'], ['2022-11-14', '2022-09-07'], ['2022-11-14', '2022-09-08'], ['2022-11-14', '2022-09-09'], ['2022-11-14', '2022-09-12'], ['2022-11-14', '2022-09-13'], ['2022-11-14', '2022-09-14'], ['2022-11-14', '2022-09-15'], ['2022-11-14', '2022-09-16'], ['2022-11-14', '2022-09-19'], ['2022-11-14', '2022-09-20'], ['2022-11-14', '2022-09-21'], ['2022-11-14', '2022-09-22'], ['2022-11-14', '2022-09-23'], ['2022-11-14', '2022-09-26'], ['2022-11-14', '2022-09-27'], ['2022-11-14', '2022-09-28'], ['2022-11-14', '2022-09-29'], ['2022-11-14', '2022-09-30'], ['2022-11-14', '2022-10-03'], ['2022-11-14', '2022-10-04'], ['2022-11-14', '2022-10-05'], ['2022-11-14', '2022-10-06'], ['2022-11-14', '2022-10-07'], ['2022-11-14', '2022-10-10'], ['2022-11-14', '2022-10-11'], ['2022-11-14', '2022-10-12'], ['2022-11-14', '2022-10-13'], ['2022-11-14', '2022-10-14'], ['2022-11-14', '2022-10-17'], ['2022-11-14', '2022-10-18'], ['2022-11-14', '2022-10-19'], ['2022-11-14', '2022-10-20'], ['2022-11-14', '2022-10-21'], ['2022-11-14', '2022-10-24'], ['2022-11-14', '2022-10-25'], ['2022-11-14', '2022-10-26'], ['2022-11-14', '2022-10-27'], ['2022-11-14', '2022-10-28'], ['2022-11-14', '2022-10-31'], ['2022-11-14', '2022-11-01'], ['2022-11-14', '2022-11-02'], ['2022-11-14', '2022-11-03'], ['2022-11-14', '2022-11-04'], ['2022-11-14', '2022-11-07'], ['2022-11-14', '2022-11-08'], ['2022-11-14', '2022-11-09'], ['2022-11-14', '2022-11-10'], ['2022-11-14', '2022-11-11']]

In [72]:
print(max(var_k))#Sn-Sj的最大值

index = var_k.index(max(var_k))#找出當天日期的索引值
print(var_date[index])#找出當天日期

18.615509033203125
['2022-11-14', '2022-06-16']

#######################################################################################################

#測試用程式碼

In [66]:
# startdate+timedelta(days=2)

In [67]:
# data_s.iloc[0, 1]

In [68]:
# from pandas.core.indexes.extension import deprecate_ndim_indexing
# import pandas as pd
# import numpy as np

# #設定一個空的k及dp,初值皆為NaN
# k=np.empty(len(data))
# dp=np.empty(len(data))
# k[:]=np.nan
# dp[:]=np.nan

In [73]:
# #找出每個索引值的k
# for i in range(0,len(data)):
#   t=np.nan
#   for j in range(i+1):
#     if sum(Volume[j:i]) < V0:
#       t=j 
#       break
#   k[i]=t 
# k

In [74]:
# #找出每個索引值的dp
# for i in range(0,len(data)):
#   t=[]
#   for j in range(int(k[i]), i):
#     t.append(Volume[i]-Volume[j])
#     if len(t)==0:
#       dp[i]=np.nan
#     else:
#       dp[i]=max(t)
# #delta p
# dp

In [75]:
# #將dp(list)轉成df_dp(DataFrame)
# df_dp = pd.DataFrame(dp)

# #平均數/標準誤
# m = float(df_dp.mean())
# se = float(df_dp.std() / len(data)**0.5)

# #推論x值(假設a=0.025)
# print(m-1.96*se)